<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js test</title>
</head>
<body>
    <h1>Node.js Learning</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio veritatis vero nisi odit quo numquam at, fugit ut delectus quisquam possimus quaerat qui, animi amet. Labore vitae unde error sunt.</p>
    <a href="/detail">ค้นหาข้อมูล</a>
</body>
</html>